{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
    <div class="flex flex-col justify-start bg-white dark:bg-slate-800 shadow-md rounded-lg p-6 mt-6 space-y-6">
        <h1 class="text-2xl font-bold text-emerald-500">Create New Post</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(form) }}
            <div class="space-y-4">
                {{ form_row(form.title, {'attr': {'class': 'block w-full p-2 dark:text-gray-300  dark:bg-slate-700 border border-gray-300 rounded-md'}}) }}
                {{ form_row(form.content, {'attr': {'class': 'block w-full p-2 dark:text-gray-300 dark:bg-slate-700  border border-gray-300 rounded-md'}}) }}
            </div>
            {{ form_row(form.save, { 'label': 'Create', 'attr': {'class': 'mt-4 bg-emerald-500 hover:bg-emerald-700 text-white dark:text-gray-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'} }) }}
            {{ form_end(form) }}
        {% else %}
            <p>You need to <a href="{{ path('app_login') }}" class="text-emerald-500 hover:underline">login</a> or <a
                    href="{{ path('app_register') }}" class="text-emerald-500 hover:underline">register</a> to create a
                post.</p>
        {% endif %}
    </div>
{% endblock %}
