{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body class="bg-gray-100 text-gray-800">
<nav class="bg-emerald-500 p-4">
    <div class="flex flex-row justify-between items-center">
        <a href="{{ path('app_main') }}" class="text-white font-bold mr-4 flex items-center">
            {{ ux_icon('brandico:blogger', {class: 'w-8 h-8'}) }}
        </a>
        <div>
            <a href="{{ path('get_all_posts') }}" class="text-white font-bold">Posts</a>
        </div>

        {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="flex space-x-2 items-center">
                <p>Profile</p>
                {{ ux_icon('lucide:user', {class: 'w-5 h-5'}) }}
            </div>
        {% else %}
            <div class="flex space-x-4">
                <button
                    class="space-x-2 flex items-center bg-white hover:bg-gray-400 text-emerald-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <a href="{{ path('app_login') }}">Login</a>
                    {{ ux_icon('lucide:log-in', {class: 'w-5 h-5'}) }}
                </button>
                <button
                    class="space-x-2 flex items-center bg-white hover:bg-gray-400  font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <a href="{{ path('app_register') }}" class="text-emerald-700">Register</a>
                    {{ ux_icon('lucide:log-out', {class: 'w-5 h-5'}) }}
                </button>
            </div>
        {% endif %}
    </div>
</nav>

<main class="container mx-auto mt-4">
    {% block body %}{% endblock %}
</main>

{% block javascripts %}{% endblock %}
</body>
</html>
